/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*
{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

img
{
	height: auto;
	width: 100%;
	margin: .5em 0;
}


.rt-align
{
	text-align: right;
}

.row /* NEEDS TO BE ADJUSTED FOR SMALLER SCREENS!!!! */
{
	padding-top: 5em;
	padding-bottom: 5em;
	margin-bottom: 0;
}

.utility-nav a
{
	text-decoration: none;
	font-weight: bold;
}

.global-nav
{
	text-align: center;
	a
	{
		border: 2px solid #fff;
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;
		padding: .5em 0;
		text-align: center;
		text-decoration: none;
		font-size: 100%;
		min-height: 40px;
		font-weight: bold;
		color: #fff;
	}
}
.utility-nav
{
	color: #666;

	text-align: center;


	a
	{
		text-decoration: none;
		font-weight: bold;
		color: #666;
		margin: 0 1em;
	}
}

h1
{
	text-align: center;
}

h2
{
	margin: 0 0 .5em 0;
}



footer
{
	ul li
	{
		list-style-position: inside;
	}
}

/* SUBPAGE STYLES
================================================== */

.subpage-darkgray
{
	padding: 1em 0;
}

.subpage-global-nav
{
	text-align: left;

	.subpage-blue-button
	{
		color: #71b6b7;
	}

	.subpage-red-button
	{
		color: #b05757;
	}

	.subpage-green-button
	{
		color: #899f3a;
	}

	.subpage-brown-button
	{
		color: #6b5e54;
	}

	a
	{
		background: none;
		text-align: center;
		text-decoration: none;
		font-size: 100%;
		min-height: 40px;
		font-weight: bold;
		margin: 0 1em 0 0;
	}
	img
	{
		width: 25%;
		border: 0px solid #666;
		margin-bottom: -.25em;
	}
}

.subpage-utility-nav
{
	color: #666;
	text-align: right;


	a
	{
		text-decoration: none;
		font-weight: bold;
		color: #666;
		margin: 0 1em;
	}
}

.event-location
{
	margin: 0 0 .5em 0;
	list-style-type: none;
	color: #ccc;
}
/* #Color Styles
================================================== */

figcaption
{
	color: #ccc;
}

body
{
	color: #666;
	background: #333;
}


.tan
{
	background: #EDEABB;
	background: #edeabb; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #edeabb 0%, #eae5a4 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#edeabb), color-stop(100%,#eae5a4)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #edeabb 0%,#eae5a4 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #edeabb 0%,#eae5a4 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #edeabb 0%,#eae5a4 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #edeabb 0%,#eae5a4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeabb', endColorstr='#eae5a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.blue
{
	background: #71b6b7;
background: #71b6b7; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #71b6b7 0%, #4db5b5 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#71b6b7), color-stop(100%,#4db5b5)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #71b6b7 0%,#4db5b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #71b6b7 0%,#4db5b5 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #71b6b7 0%,#4db5b5 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #71b6b7 0%,#4db5b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b6b7', endColorstr='#4db5b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #fff;

	h2
	{
		color: #6b5e54;
	}

	strong
	{
		color: #ddd;
		font-weight: normal;
	}

	a
	{
		color: #b05757;
	}
}

.red
{

	background: #b05757;
background: #b05757; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #b05757 0%, #af4b4b 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b05757), color-stop(100%,#af4b4b)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #b05757 0%,#af4b4b 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #b05757 0%,#af4b4b 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #b05757 0%,#af4b4b 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #b05757 0%,#af4b4b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b05757', endColorstr='#af4b4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #fff;

	h2
	{
		color: #71b6b7;
	}

	strong
	{
		color: #ddd;
		font-weight: normal;
	}

	a
	{
		color: #899f3a;
	}
}

.green
{
	background: #899f3a;
background: #899f3a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #899f3a 0%, #798e34 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#899f3a), color-stop(100%,#798e34)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #899f3a 0%,#798e34 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #899f3a 0%,#798e34 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #899f3a 0%,#798e34 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #899f3a 0%,#798e34 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#899f3a', endColorstr='#798e34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	color: #fff;

	h2
	{
		color: #6b5e54;
	}

	h3
	{
		color: #6b5e54;
	}

	strong
	{
		color: #ddd;
		font-weight: normal;
	}

	a
	{
		color: #71b6b7;
	}
}

.brown
{
	background: #6b5e54;
background: #6b5e54; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #6b5e54 0%, #685240 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6b5e54), color-stop(100%,#685240)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #6b5e54 0%,#685240 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #6b5e54 0%,#685240 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #6b5e54 0%,#685240 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #6b5e54 0%,#685240 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b5e54', endColorstr='#685240',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #fff;

	h2
	{
		color: #899f3a;
	}

	strong
	{
		color: #ddd;
		font-weight: normal;
	}

	a
	{
		color: #71b6b7;
	}
}

.darkgray, .subpage-darkgray
{
	background: #333;
background: #353535; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #353535 0%, #333333 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#353535), color-stop(100%,#333333)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #353535 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #353535 0%,#333333 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #353535 0%,#333333 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #353535 0%,#333333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #fff;
}

.blue-button
{
	background: #71b6b7;
	color: #fff;
}


.red-button
{
	background: #b05757;
	color: #fff;
}
.green-button
{
	background: #899f3a;
	color: #fff;
}
.brown-button
{
	background: #6b5e54;
	color: #fff;
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Larger than standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {

		.tan
		{
			padding-top: 5em;
			padding-bottom: 5em;
		}

		h1
		{
			font-size: 2.1em;
			padding: 1em 0;
		}

		h2
		{
			font-size: 2.3em;
		}

		h3
		{
			font-size: 1.35em;
		}

		h4
		{
			font-size: 1.12em;
		}
		p
		{
			font-size: 1.75em;
		}

		ul
		{
			font-size: 1.25em;
		}

		.utility-nav a
		{
			font-size: 1em;
		}

		/* SUBAPAGES */

		.subpage-global-nav a
		{
			font-size: 1.25em;
		}

		.subpage-utility-nav a
		{
			font-size: .75em;
		}
		
		.subpage-darkgray
		{
			padding-top: 4em;
			padding-bottom: 4em;
		}
		
		.darkgray
		{
			padding-top: 5em;
			padding-bottom: 5em;
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		.tan
		{
			padding-top: 3em;
			padding-bottom: 3em;
		}

		h1
		{
			font-size: 1.8em;
			padding: .8em 0;
		}

		h2
		{
			font-size: 2em;
		}

		h3
		{
			font-size: 1.25em;
		}

		h4
		{
			font-size: 1.12em;
		}
		p
		{
			font-size: 1.35em;
		}

		ul
		{
			font-size: 1.25em;
		}

		.utility-nav a
		{
			font-size: .8em;
		}
		
		/* SUBAPAGES */

		.subpage-global-nav a
		{
			font-size: .9em;
		}

		.subpage-utility-nav a
		{
			font-size: .7em;
		}

		.subpage-darkgray
		{
			padding-top: 3em;
			padding-bottom: 3em;
		}
		
		.darkgray
		{
			padding-top: 4em;
			padding-bottom: 4em;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.row
		{
			padding: 6em 0;
		}

		.tan
		{
			padding-top: 2em;
			padding-bottom: 2em;
		}

		.global-nav a
		{
			font-size: 1.5em;
		}

		h1
		{
			font-size: 1em;
			padding: .75em 0;
		}

		h2
		{
			font-size: 1.75em;
		}

		h3
		{
			font-size: 1.25em;
		}

		h4
		{
			font-size: 1.12em;
		}
		p
		{
			font-size: 1.25em;
		}

		ul
		{
			font-size: 1.15em;
		}

		.utility-nav a
		{
			font-size: .8em;
		}

		/* SUBPAGES */

		.subpage-global-nav
		{
			text-align: center;
		}
		.subpage-global-nav img
		{
			width: 100%;
			margin-bottom: 2em;
		}
		.subpage-global-nav a
		{
			font-size: .75em;
		}
		.subpage-utility-nav
		{
			margin-bottom: 1em;
			text-align: center;
		}

		.subpage-utility-nav a
		{
			font-size: .6em;
		}

		.subpage-darkgray
		{
			padding-top: 2em;
			padding-bottom: 2em;
		}
		
		.darkgray
		{
			padding-top: 3em;
			padding-bottom: 3em;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.row
		{
			padding: 3em 0;
		}

		.tan
		{
			padding-top: 1em;
			padding-bottom: 1em;
		}
		

		.global-nav a
		{
			font-size: 1.25em;
		}

		h1
		{
			font-size: .9em;
			padding: .5em 0;
		}

		h2
		{
			font-size: 1.25em;
		}

		h3
		{
			font-size: 1.25em;
		}

		h4
		{
			font-size: .9em;
		}
		p
		{
			font-size: 1.25em;
		}

		ul
		{
			font-size: 1.25em;
		}

		.utility-nav a
		{
			font-size: .7em;
		}

		.subpage-global-nav
		{
			text-align: center;
		}
		.subpage-global-nav img
		{
			width: 100%;
			margin-bottom: 2em;
		}
		.subpage-global-nav a
		{
			font-size: 1.1em;
			line-height: 2em;
		}
		.subpage-utility-nav
		{
			margin-bottom: 1em;
			text-align: center;
		}

		.subpage-utility-nav a
		{
			font-size: .6em;
		}
		
		.subpage-global-nav img
		{
			margin-bottom: .5em;
		}
		.subpage-darkgray
		{
			padding-top: 1em;
			padding-bottom: 1em;
		}
		
		.darkgray
		{
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}


/* #Font-Face
================================================== */

h1, h2, h3, h4, .global-nav a, .utility-nav a, .utility-nav-2, .subpage-global-nav a, .subpage-utility-nav a, .inpage-link-button
{
	font-family: 'Delius Unicase', cursive;
}

h5, h6, p, ul, li
{
	font-family: 'Ubuntu Condensed', sans-serif;
}
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


