$static: #C4351D;
$active-catagory: #C4711D;
$inactive: $static - 25;
$choose-catagory: #15647a;

$background: #111;
$link: #eeeeee;
$text: #dddddd;
$menu-item-border: #111;

/*
C4351D red
C4711D yellow
15647A blue
15913B green*/