/* Vairables */

$white: #ffffff;
$lightestgray: #eeeeee;
$lightgray: #cccccc;
$medgray: #999999;
$darkgray: #666666;
$darkestgray: #333333;
$black: #000000;

.utility-nav
{
	background: $darkestgrey;
}

header
{
	background: $medgray;
}
