/* CREATE A PROJECT STYLES LARGE========================*/

	.page-title
	{
		background: $orange;
		margin-bottom: 2em;
		padding-top: .5em;
		padding-bottom: .5em;
		

		h1
		{
			color: $white;
			font-family: $header;
			font-weight: normal;
			padding: 0;
			margin: 0;
		}
	}

	.deliverable-instructions
	{
		h2
		{
			padding: 0;
			font-family: $header;
			color: $orange;
			font-weight: normal;
		}

		p
		{
			font-size: 1.25em;
			line-height: 1.3;
			margin-bottom: 1.25em;
			color: $dark;
		}
	}

	.deliverable-submission
	{
		background: $lightest;
		padding: 1em;
		margin-bottom: 2em;

		.deliverable-submission-form-header
		{
			color: $orange;
			font-family: $other;
			font-size: 1.5em;
		}

		textarea
		{
			width: 100%;
			 background: $white;
	        border: 2px solid $orange;
	        margin-bottom: .5em;
	        font-size: 1.25em;
		}

		input
	    {
	        background: $white;
	        border: 2px solid $orange;
	        margin-bottom: .5em;
	        font-size: 1.25em;
	        width: 100%;
	    }

		.deliverable-submission-form-submit-button
	    {
		    border: none;
		    background: $blue;
		    color: $lightest;
		    padding: .2em .6em;
		    width: 12em;
	    }
	}

	.deliverable-process-explaination
	{

		h2
		{
			padding: 0;
			font-family: $header;
			color: $orange;
		}

		p
		{
			font-size: 1.25em;
			line-height: 1.3;
			margin-bottom: 1.25em;
			color: $dark;
		}
	}

	.process-roadmap
	{
		background: $lightest;
		padding: 1em;

		h3
		{
			color: $orange;
			font-family: $header;
			font-weight: normal;
		}

		a
		{
			display: block;
			font-size: 1.25em;
			margin-bottom: .5em;
		}
	}




