/* DEFAULTS (ORANGE) */
$default-darker: #E64A19;
$default-main:   #FF5722;
$default-lighter:  #FFCCBC;

/* CUSTOM UNO*/
$default-darker: #0F3C5F - 15;
$default-main:   #0F3C5F;
$default-lighter:  #0F3C5F + 15;

/* CUSTOM CORNER BREW*/
$default-darker: #AC3525 - 15;
$default-main:   #AC3525;
$default-lighter:  #AC3525 + 15;




$white:          #FFFFFF;
$blue:           #03A9F4;
$red:			 #e51c23;
$green: 		 #259b24;

$shade-dark:     #343434;
$shade-med:      #727272;
$shade-light:    #999999;

$facebookBlue:   #3b5998;

