/* Client Facing Text Styles */

body
{
	font-family: 'Lato', serif;
}


.top
{
	.client-name
	{
		font-size: 1.25em;
	}

	.project-name
	{
		font-size: 1.5em;
	}
}

.middle
{


	.local-nav
	{
		h2
		{
			font-size: 1.5em;
		}

		h3
		{
			font-size: 1.25em;
		}

		a
		{
			font-size: 1em;
			text-decoration: none;
		}

		.active-page:after
		{

			content: ' \003c';
		}
	}

	.project-section
	{
		h1
		{
			font-size: 2em;
		}
		
		h3
		{
			font-size: 1.5em;

		}

		h4
		{
			font-size: 1em;
		}

		a
		{
			text-decoration: none;
		}

	}
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.top
	{
		h1
		{
			font-size: 1.25em;
		}
	}
}