/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* ================================== */
/* Add top bottom padding to sections */
.container
{
	padding-top: 5em;
	padding-bottom: 5em;
}
/* ================================== */


	/* Adds margin padding to elements inside containers */
	/* ================================================= */

	.top-space
	{
		padding-top: 1em;
	}

	.bottom-space
	{
		padding-bottom: 1em;
	}
	/* ================================================= */


/* Manages image floats */
/* ================================================= */

img.right
{
	float: right;
	padding-left: 1em;
}

img.left
{
	float: left;
	padding-right: 1em;
}

/* ================================================= */


/* ============== */
/* Header Styles */
/* ============== */
.row.top
{
	margin-top: -2em;
	margin-bottom: -2em;
}

header
{
	.logo
	{
		width: 100%;
		height: auto;


	}

	.social-links
	{
		text-align: right;
		margin-top: 0em;

		a
		{
			margin: 0 0 0 .75em;
			text-decoration: none;

		}
	}

	.client-login
	{
		margin-top: 1.25em;
		text-align: center;
	}

	.global-nav
	{
		margin-top: 5em; /* Needs to be adjusted for smaller screens */

		a
		{
			text-align: center;
			text-decoration: none;
			padding-top: .4em;
			padding-bottom: .4em;
		}
	}
}

/* ============== */
/* Body Styles */
/* ============== */




.red
{
	a
	{
		text-align: center;
		text-decoration: none;
		padding: .2em 0;
	}
}

.gray
{
	h3
	{
		text-align: center;
	}

	ul
	{
		text-align: center;

		li
		{
			display: inline;
			margin: 0 5%;
		}
	}

	img
	{
		width: 100%;
		margin: 1em 0 0 0;
		
	}
}

.call-to-action
{

	padding: 2em;

	a
	{
		text-align: center;
		text-decoration: none;
		width: 100%;
		float: right;

	}
}

.contact-page
{
	li
	{
		margin: 0;
	}
}


/* ============== */
/* Footer Styles */
/* ============== */

.darkgray
{
	h4, ul
	{
		text-align: center;
	}

	img
	{
		width: 100%;
	}
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		.global-nav a
		{
			margin-top: -1em;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	.mobile-inactive
		{
			display: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		img.left, img.right/* Fixes image float on mobile */
		{
			float: none;
			clear: both;
			width: 100%;
			height: auto;
			padding: 0;
		}

		.inactive
		{
			display: none;
		}

		.client-login 
		{
			padding-top: 2em;
		}

		.client-login
		{
			a
			{
				height: 40px;
				border-bottom: 2px solid #fff;
				padding-top: .25em;
			}
		}

		.global-nav a
		{
			height: 40px;
			border-bottom: 2px solid #fff;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

	.container
	{
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.top
	{
		padding-top: 1em;
	}

		img.left, img.right/* Fixes image float on mobile */
		{
			float: none;
			clear: both;
			width: 100%;
			height: auto;
			padding: 0;
		}
 

		.inactive
		{
			display: none;
			background: red;
		}


		.client-login 
		{
			padding-top: 2em;
		}

		.client-login
		{
			a
			{
				height: 40px;
				border-bottom: 2px solid #fff;
				padding-top: .5em;
			}
		}

		.global-nav
		{
			padding-bottom: 4em;
		}
		.global-nav a
		{
			height: 40px;
			border-bottom: 2px solid #fff;
		}

	}

	

/* #Font-Face
================================================== */
@import "_settings";
@import "social_foundicons";
@import "social_foundicons_ie7";